{% extends 'user/base.html' %}
{% block title %}Post Feed{% endblock %}
{% block content%}
{% if user.is_authenticated %}
    {% for post in posts %}
        
        <h1>{{post.title}}</h1>
        <p>Posted By - <strong>{{post.author}}</strong></p>
        <p>{{post.date|date:'M d Y'}}</p>
        <!--{% if post.tag %}
            <p> Tag - {{post.tag}}</p>
        {% endif %}-->
        <p>{{post.text|truncatechars:50}} <a href="{% url 'details' post.id%}">See more</a></p>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="image of this post">
        {% endif %}
        
        {% endfor %}
{% else %}
Please log in 
{% endif %}
{% endblock %}