{% extends 'user/base.html' %}
{% block title %}Create New Post{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Create a new post</h1>
    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button>Post</button>
    </form>
    <script>
        var name = '{{user.id}}';
        document.getElementById("author-form").value = name;
    </script>
{% else %}
    <h1>Plese log in</h1>

{% endif %}

{% endblock %}







